<div class="multi-item">
  <div class="flex-row multi-item flex-wrap">
    <label class="flex-col multi-item">
      <span>Spezies [{{actor.species.name}}]</span>
      <select name="data.generator.species">
        {{#select actor.data.data.generator.species}}
          <option value="">Random</option>
          {{#each generator.species as |species|}}
            <option value="{{species.key}}">{{species.name}}</option>
          {{/each}}
        {{/select}}
      </select>
    </label>
    <label class="flex-col multi-item">
      <span>Ausrichtung [{{fallback actor.disposition.label '-'}}]</span>
      <select name="data.generator.disposition">
        {{#select actor.data.data.generator.disposition}}
          <option value="">Random</option>
          {{#each generator.dispositions as |disposition|}}
            <option value="{{disposition.key}}">{{disposition.label}}</option>
          {{/each}}
        {{/select}}
      </select>
    </label>
    <label class="flex-col multi-item">
      <span>Fraktion [{{fallback actor.faction.label '-'}}]</span>
      <select name="data.generator.faction">
        {{#select actor.data.data.generator.faction}}
          <option value="">Random</option>
          {{#each generator.factions as |faction|}}
            <option value="{{faction.key}}">{{faction.label}}</option>
          {{/each}}
        {{/select}}
      </select>
    </label>
  </div>
  <div class="flex-row multi-item">
    <button type="button" class="small auto-width generate">Generieren</button>
    <button type="button" class="small auto-width generate-reset">Seed Reset</button>
    <label>
      <input
          type="text"
          name="data.generator.seed"
          value="{{actor.data.data.generator.seed}}"
          title="Seed"
          placeholder="Seed"
          class="auto-width"
      />
    </label>
  </div>
</div>