{{#each actor.equippedWeapons as |weapon index|}}
  {{#if weapon.skill}}
    <div class="weapon-slot multi-item">
      <h4>{{weapon.primaryEquippedSlot.label}} - <strong>{{weapon.skill.name}} ({{weapon.name}})</strong></h4>
      <div class="line-view multi-item">
        <div class="flex-row multi-item flex-end">
          <img src="icons/svg/shield.svg" class="table-icon" alt="Parade" title="Parade" />
          {{> "systems/sw-tor/templates/check-preview.html"
              check=weapon.paradeCheck
              action=(concat 'equippedWeapons.' index '.rollParade')
          }}
        </div>
        <div class="flex-row multi-item flex-end">
          <img src="icons/svg/up.svg" class="table-icon" alt="Erleichterung (>0) / Erschwernis (<0)"
               title="Erleichterung (>0) / Erschwernis (<0)"
          />
          <input type="text" name="items.{{weapon.id}}.data.paradeAdvantage"
                 value="{{weapon.data.data.paradeAdvantage}}" data-dtype="Number"
                 title="Erleichterung (>0) / Erschwernis (<0)"
          />
          {{#if (calcCoordination weapon.primaryEquippedSlot actor)}}
            <span
                title="Koordination: {{formatExplanation (explainCoordination weapon.primaryEquippedSlot actor)}}"
                class="flex-row multi-item"
            >
              <i class="fas fa-hand-paper table-icon"></i>
              <span>{{calcCoordination weapon.primaryEquippedSlot actor}}</span>
            </span>
          {{/if}}
        </div>
      </div>
    </div>
  {{/if}}
{{/each}}
{{#if actor.evasionCheck}}
  <div class="weapon-slot">
    <h4><strong>Ausweichen</strong></h4>
    <div class="line-view multi-item">
      <div class="flex-row multi-item flex-end">
        <img src="icons/svg/daze.svg" class="table-icon" alt="Ausweichen" title="Ausweichen" />
        {{> "systems/sw-tor/templates/check-preview.html"
            check=actor.evasionCheck
            action='rollEvasion'
        }}
      </div>
    </div>
  </div>
{{/if}}