<form class="{{cssClass}} multi-item charsheet-form" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header flex-row multi-item">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
    <div class="header-fields flex-grow flex-self-start">
      <div class="flex-row multi-item flex-cross-start">
        <div class="multi-item flex-grow">
          <h1 class="char-name">
            <input name="name" class="full-width" type="text" value="{{actor.name}}" placeholder="Name" />
          </h1>
        </div>
        <div class="multi-item">
          <div class="flex-row multi-item">
            <span title="Generierungspunkte">GP</span>
            <span class="flex-grow">{{computed.gp}}</span>
            {{#if data.creationMode.enabled}}
              {{#if computed.flags.hasGp}}
                <button type="button" class="small gp-to-xp">GP → XP</button>
              {{/if}}
              {{#if computed.flags.canRefundXpToGp}}
                <button type="button" class="small xp-to-gp">GP ← XP</button>
              {{/if}}
            {{/if}}
          </div>
          <label class="flex-row multi-item">
            <span title="Erfahrungspunkte">XP</span>
            <span>{{computed.freeXp}}</span>
            <span>/</span>
            <input
                name="input.totalXp"
                type="text"
                value="{{computed.totalXp}}"
                placeholder="Total XP"
                title="Ab Start: {{computed.xpFromGp}} | Hinzugewonnen: {{actor.data.xp.gained}}"
                class="flex-grow"
            />
          </label>
        </div>
      </div>
      <div class="subinfo flex-row multi-item">
        <div class="species-info flex-row multi-item">
          <span>Spezies:</span>
          {{#if data.creationMode.enabled}}
            <select name="data.species" data-dtype="String">
              {{#select actor.data.species}}
                {{#each speciesList as |sp|}}
                  <option value="{{sp.key}}">{{sp.name}}</option>
                {{/each}}
              {{/select}}
            </select>
          {{else}}
            <span>{{computed.speciesName}}</span>
          {{/if}}
        </div>
        <div class="vertical-divider"></div>
        <div class="training-info flex-row multi-item">
          <span>Ausbildungen:</span>
          <div class="trainings flex-row multi-item">
            {{#each trainings as |training|}}
              <div data-item-id="{{training.id}}">
                <span title="{{training.desc}}">{{training.name}}</span>
                {{#if ../data.creationMode.enabled}}
                  <a class="item-control item-edit" title="Bearbeiten"><i class="fas fa-edit"></i></a>
                  <a class="item-delete" title="Löschen"><i class="fas fa-trash"></i></a>
                {{/if}}
                {{#unless @last}}
                  <span>, </span>
                {{/unless}}
              </div>
            {{/each}}
          </div>
        </div>
      </div>
      <div class="flex-row multi-item">
        {{#each computed.metrics as |metric|}}
          {{#if metric.max.total}}
            {{metricView metric=metric}}
          {{/if}}
        {{/each}}
      </div>
    </div>
  </header>

  <div class="attributes flex-row multi-item flex-wrap">
    {{#each computed.attributes as |attr index|}}
      <div class="attribute flex-row multi-item">
        <span class="attribute-label" title="{{attr.label}} - {{attr.desc}}">{{formatAttrKey attr.key}}</span>
        <span title="{{formatExplanation attr.value.components}}">{{attr.value.total}}</span>
      </div>
    {{/each}}
  </div>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="attributes">Attribute</a>
    <a class="item" data-tab="skills">Fähigkeiten</a>
    <a class="item {{hiddenClass unless=computed.forceSkills}}" data-tab="force-skills">Mächte</a>
    <a class="item" data-tab="equipment">Ausrüstung</a>
    <a class="item" data-tab="items">Inventar</a>
    <a class="item" data-tab="other">Sonstiges</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      <table class="attributes-table full-width">
        <thead>
          <tr>
            <th class="attributes-table-key"></th>
            <th>Name</th>
            <th>GP</th>
            <th>Mod</th>
            <th title="Steigerungsklasse">StK</th>
            <th class="xp-col">XP</th>
            <th>Gain</th>
            <th>Buff</th>
            <th>Wert</th>
          </tr>
        </thead>
        <tbody>
          {{#each computed.attributes as |attr|}}
            <tr>
              <td>{{formatAttrKey attr.key}}</td>
              <td title="{{attr.desc}}">{{attr.label}}</td>
              <td>
                {{#if ../data.creationMode.enabled}}
                  <input type="text" name="data.attributes.{{attr.key}}.gp" value="{{attr.gp}}" />
                {{else}}
                  {{attr.gp}}
                {{/if}}
              </td>
              <td title="{{formatExplanation attr.mod.components}}">{{formatMod attr.mod.total}}</td>
              <td>
                <select name="data.attributes.{{attr.key}}.xpCategory" data-dtype="String">
                  {{#select attr.xpCategory}}
                    {{#each ../computed.xpCategories as |category|}}
                      <option value="{{category}}">{{category}}</option>
                    {{/each}}
                  {{/select}}
                </select>
              </td>
              <td>{{attr.xp}}</td>
              <td>
                <div class="flex-row multi-item">
                  {{#if ../data.creationMode.enabled}}
                    {{#if attr.gained.canDowngrade}}
                      <button type="button" class="small char change-attr-gained" data-attr="{{attr.key}}" data-action="-">-</button>
                    {{else}}
                      <span class="char-button-placeholder"></span>
                    {{/if}}
                  {{/if}}
                  <span class="attribute-gained">{{attr.gained.value}}</span>
                  {{#if attr.gained.upgradeCost}}
                    <button type="button" class="small char change-attr-gained" title="{{attr.gained.upgradeCost}} XP" data-attr="{{attr.key}}" data-action="+">+</button>
                  {{else}}
                    <span class="char-button-placeholder"></span>
                  {{/if}}
                </div>
              </td>
              <td>
                <input type="text" name="data.attributes.{{attr.key}}.buff" value="{{attr.buff}}" />
              </td>
              <td title="{{formatExplanation attr.value.components}}">
                {{attr.value.total}}
                <input type="hidden" name="data.attributes.{{attr.key}}.value" value="{{attr.value.total}}" data-dtype="Number" />
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>

    {{!-- Skills Tab --}}
    <div class="tab skills multi-item" data-group="primary" data-tab="skills">
      {{#each computed.skillCategories as |category|}}
        <table>
          <thead>
            <tr>
              <th>{{category.label}}</th>
              <th class="attr-key-col" title="Primärattribut">A1</th>
              <th class="attr-key-col" title="Sekundärattribut">A2</th>
              <th class="xp-category-col" title="Steigerungsklasse">StK</th>
              <th class="xp-col">XP</th>
              <th class="gain-col">Gain</th>
              <th class="buff-col">Buff</th>
              <th class="value-col">Wert</th>
              {{#if ../data.creationMode.enabled}}
                <th class="icon-col"></th>
              {{/if}}
            </tr>
          </thead>
          <tbody>
            {{#each category.skills as |skill|}}
              <tr {{class when=skill.data.isBasicSkill then='basic-skill'}} data-item-id="{{skill.id}}">
                <td>
                  <div class="flex-row multi-item">
                    <img src="{{skill.img}}" alt="{{skill.name}}" width="24" height="24" />
                    <span class="skill-key-col">{{formatAttrKey skill.data.key}}</span>
                    <span class="flex-grow">{{skill.name}}</span>
                    <a class="item-control item-edit" title="Bearbeiten"><i class="fas fa-edit"></i></a>
                    <a class="roll-check" title="Probe werfen" data-check='{{json skill.check}}'><i class="fas fa-dice-d20"></i></a>
                  </div>
                </td>
                <td title="{{formatAttrLabel skill.data.attribute1}}">{{formatAttrKey skill.data.attribute1}}</td>
                <td title="{{formatAttrLabel skill.data.attribute2}}">{{formatAttrKey skill.data.attribute2}}</td>
                <td>
                  <select name="skills.{{skill.data.key}}.data.tmpXpCategory">
                    {{#select skill.xpCategory}}
                      {{#each ../../computed.xpCategories as |category|}}
                        <option value="{{category}}">{{category}}</option>
                      {{/each}}
                    {{/select}}
                  </select>
                </td>
                <td>{{skill.xp}}</td>
                <td>
                  <div class="flex-row multi-item">
                    {{#if ../../data.creationMode.enabled}}
                      {{#if skill.gained.canDowngrade}}
                        <button type="button" class="small char change-skill-gained" data-skill="{{skill.data.key}}" data-action="-">-</button>
                      {{else}}
                        <span class="char-button-placeholder"></span>
                      {{/if}}
                    {{/if}}
                    <span class="skill-gained">{{skill.gained.value}}</span>
                    {{#if skill.gained.upgradeCost}}
                      <button type="button" class="small char change-skill-gained" title="{{skill.gained.upgradeCost}} XP" data-skill="{{skill.data.key}}" data-action="+">+</button>
                    {{else}}
                      <span class="char-button-placeholder"></span>
                    {{/if}}
                  </div>
                </td>
                <td>
                  <input type="text" name="skills.{{skill.data.key}}.data.buff" value="{{skill.data.buff}}" />
                </td>
                <td title="{{formatExplanation skill.value.components}}">{{skill.value.total}}</td>
                {{#if ../../data.creationMode.enabled}}
                  <td>
                    {{#unless skill.data.isBasicSkill}}
                      <a class="item-control item-delete" title="Löschen"><i class="fas fa-trash"></i></a>
                    {{/unless}}
                  </td>
                {{/if}}
              </tr>
            {{/each}}
          </tbody>
        </table>
      {{/each}}
    </div>

    {{!-- Force Tab --}}
    <div class="tab force-skills multi-item" data-group="primary" data-tab="force-skills">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Reichweite</th>
            <th>Wirkungsdauer</th>
            <th>Kosten</th>
            <th>Effekt</th>
            <th>Ausrichtung</th>
          </tr>
        </thead>
        <tbody>
          {{#each computed.forceSkills as |skill|}}
            <tr data-item-id="{{skill.id}}">
              <td>
                <div class="flex-row multi-item">
                  <img src="{{skill.img}}" alt="{{skill.name}}" width="24" height="24" />
                  <span class="flex-grow">{{skill.name}}</span>
                  <a class="item-control item-edit" title="Bearbeiten"><i class="fas fa-edit"></i></a>
                </div>
              </td>
              <td>{{skill.range}}</td>
              <td>{{skill.duration.value}}</td>
              <td>
                <div class="multi-item">
                  {{#each skill.cost as |entry|}}
                    <div class="flex-row multi-item {{errorClass when=entry.error}}">
                      <span class="flex-grow">{{entry.value}} {{entry.postfix}}</span>
                      <a class="use-force" title="Abziehen" data-amount="{{entry.value}}"><i class="fas fa-play"></i></a>
                    </div>
                    {{#each entry.variables as |var|}}
                      <div class="flex-row multi-item">
                        <span>{{var}}:</span>
                        <input
                            type="text"
                            name="skills.{{skill.data.key}}.data.cost.{{entry.key}}.vars.{{var}}"
                            value="{{resolve skill.data.cost entry.key 'vars' var}}"
                            class="flex-grow"
                            placeholder="{{var}}"
                        />
                      </div>
                    {{/each}}
                  {{/each}}
                </div>
              </td>
              <td>
                <div class="flex-row multi-item">
                  <span>
                    {{skill.effect.prefix}}
                    {{skill.effect.value}}
                    {{#if skill.effect.d6}}
                      + {{skill.effect.d6}}w6
                    {{/if}}
                  </span>
                  {{#if skill.effect.d6}}
                    <a class="do-roll" title="Würfeln" data-formula="{{skill.effect.value}} + {{skill.effect.d6}}d6" data-label="{{skill.name}}">
                      <i class="fas fa-dice-d20"></i>
                    </a>
                  {{/if}}
                </div>
              </td>
              <td>{{skill.disposition.label}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>

    {{!-- Equipment Tab --}}
    <div class="tab equipment" data-group="primary" data-tab="equipment">
      <div class="flex-row multi-item flex-cross-start">
        <div class="flex-grow flex-zero">
          <h3 class="align-center">Offensive</h3>
          <div class="multi-item">
            {{#each computed.weaponSlots as |slot|}}
              <div class="weapon-slot">
                <h4>{{slot.label}} - <strong>{{slot.skill.name}}</strong></h4>
                {{#if slot.skill}}
                  <table>
                    <tbody>
                      <tr>
                        <td class="weapon-slot-label">Attacke</td>
                        <td>
                          <div class="flex-row multi-item">
                            {{#each slot.skill.check.rolls as |roll|}}
                              <span title="{{roll.label}}">
                                <strong>{{formatAttrKey roll.key}}</strong>
                                {{roll.target}}
                              </span>
                            {{/each}}
                            <span>|</span>
                            <span title="Ausgleichspunkte">
                              <strong>AgP</strong>
                              {{slot.skill.check.AgP}}
                            </span>
                            <a class="roll-check" title="Probe werfen" data-check='{{json slot.skill.check}}'><i class="fas fa-dice-d20"></i></a>
                          </div>
                        </td>
                      </tr>
                      {{#if slot.item}}
                        <tr>
                          <td>Schaden</td>
                          <td>
                            <div class="flex-row multi-item">
                              <span>{{slot.item.data.damage.formula}}</span>
                              <a
                                  class="do-roll"
                                  title="Schaden auswürfeln"
                                  data-formula="{{slot.item.data.damage.formula}}"
                                  data-label="Attacke mit {{slot.item.name}}"
                              >
                                <i class="fas fa-dice-d6"></i>
                              </a>
                            </div>
                          </td>
                        </tr>
                      {{/if}}
                    </tbody>
                  </table>
                {{/if}}
              </div>
            {{/each}}
          </div>
        </div>
        <div class="equipment-grid multi-item">
          {{#each computed.slots as |row|}}
            <div class="equipment-row multi-item">
              {{#each row as |slot|}}
                <div class="equipment-tile">
                  {{#if slot}}
                    <div class="equipment-slot" style="background-image: url({{slot.img}})">
                      {{#if slot.item}}
                        <img src="{{slot.item.img}}" alt="{{slot.item.name}}" class="equipment-item" />
                      {{/if}}
                      <div class="equipment-popup">
                        <h4>{{slot.label}}</h4>
                        {{#if slot.options}}
                          <ul>
                            {{#each slot.options as |item|}}
                              <li>
                                <a class="equip-btn {{embedClass name='link-active' when=item.active}}" data-slot="{{slot.key}}" data-item="{{item.id}}">{{item.name}}</a>
                              </li>
                            {{/each}}
                          </ul>
                        {{/if}}
                      </div>
                    </div>
                  {{/if}}
                </div>
              {{/each}}
            </div>
          {{/each}}
        </div>
        <div class="flex-grow flex-zero">
          <h3 class="align-center">Defensive</h3>
        </div>
      </div>
    </div>

    {{!-- Inventory Tab --}}
    <div class="tab items multi-item" data-group="primary" data-tab="items">
      <div class="flex-row multi-item">
        <div class="flex-grow"></div>
        <div class="flex-row multi-item {{errorClass when=computed.weight.overloaded}}" title="Traglast">
          <i class="fas fa-weight-hanging"></i>
          <span>{{computed.weight.value}}</span>
          <span>/</span>
          <span>{{computed.weight.max}}</span>
        </div>
      </div>
      {{#each computed.inventory as |category|}}
        <table>
          <thead>
            <tr>
              <th>
                <div class="flex-row multi-item">
                  <a class="toggle-inventory-view" data-category="{{category.key}}">
                    {{#if (resolve ../ui.inventoryHidden category.key)}}
                      <i class="fas fa-eye-slash"></i>
                    {{else}}
                      <i class="fas fa-eye"></i>
                    {{/if}}
                  </a>
                  <span>{{category.label}}</span>
                </div>
              </th>
              {{#if category.isWeapon}}
                <th class="damage-col" title="Schaden">Schaden</th>
              {{/if}}
              {{#if category.isWearable}}
                <th class="damage-col" title="Rüstung">Rüstung</th>
                <th class="encumberance-col" title="Behinderung">Behinderung</th>
              {{/if}}
              {{#if category.isEquippable}}
                <th class="damage-col" title="Zustand">Zustand</th>
              {{/if}}
              <th class="price-col" title="Preis"><i class="fas fa-coins"></i></th>
              <th class="weight-col" title="Gewicht"><i class="fas fa-weight-hanging"></i></th>
              <th class="xp-col">
                <a class="item-create" data-type="{{category.key}}"><i class="fas fa-plus"></i> Neu</a>
              </th>
            </tr>
          </thead>
          <tbody>
            {{#unless (resolve ../ui.inventoryHidden category.key)}}
              {{#each category.items as |item|}}
                <tr class="item" data-item-id="{{item.id}}">
                  <td>
                    <div class="flex-row multi-item">
                      <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
                      <div title="{{item.data.description}}">
                        {{#if (isMultiple item.data.quantity)}}
                          {{item.data.quantity}}x
                        {{/if}}
                        {{item.name}}
                      </div>
                    </div>
                  </td>
                  {{#if category.isWeapon}}
                    <td title="Schaden">{{item.data.damage.formula}}</td>
                  {{/if}}
                  {{#if category.isWearable}}
                    <td title="Rüstung">{{item.data.armor}}</td>
                    <td title="Behinderung">{{item.data.encumberance}}</td>
                  {{/if}}
                  {{#if category.isEquippable}}
                    <td class="damage-col" title="Zustand">{{formatPercentage item.data.condition}}</td>
                  {{/if}}
                  <td title="Preis">{{item.data.price}}</td>
                  <td title="Gewicht">{{item.data.weight}}</td>
                  <td>
                    <a class="item-control item-edit" title="Bearbeiten"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-delete" title="Löschen"><i class="fas fa-trash"></i></a>
                  </td>
                </tr>
              {{/each}}
            {{/unless}}
          </tbody>
        </table>
      {{/each}}
    </div>

    {{!-- Other Tab --}}
    <div class="tab other multi-item" data-group="primary" data-tab="other">
      <table>
        <thead>
          <tr>
            <th></th>
            <th>Metrik</th>
            <th>Aktuell</th>
            <th>Mod</th>
            <th title="Steigerungsklasse">StK</th>
            <th>XP</th>
            <th>Gain</th>
            <th>Buff</th>
            <th>Max</th>
          </tr>
        </thead>
        <tbody>
          {{#each computed.metrics as |metric|}}
            <tr>
              <td>{{metric.key}}</td>
              <td title="{{metric.desc}}">{{metric.label}}</td>
              <td>
                {{metricView metric=metric linked=true}}
              </td>
              <td title="{{formatExplanation metric.mod.components}}">{{formatMod metric.mod.total}}</td>
              <td>
                {{#if metric.gained}}
                  <select name="data.metrics.{{metric.key}}.xpCategory">
                    {{#select metric.xpCategory}}
                      {{#each ../computed.xpCategories as |category|}}
                        <option value="{{category}}">{{category}}</option>
                      {{/each}}
                    {{/select}}
                  </select>
                {{/if}}
              </td>
              <td>{{metric.xp}}</td>
              <td>
                <div class="flex-row multi-item">
                  {{#if ../data.creationMode.enabled}}
                    {{#if metric.gained.canDowngrade}}
                      <button type="button" class="small char change-metric-gained" data-metric="{{metric.key}}" data-action="-">-</button>
                    {{else}}
                      <span class="char-button-placeholder"></span>
                    {{/if}}
                  {{/if}}
                  <span class="metric-gained">{{metric.gained.value}}</span>
                  {{#if metric.gained.upgradeCost}}
                    <button type="button" class="small char change-metric-gained" title="{{metric.gained.upgradeCost}} XP" data-metric="{{metric.key}}" data-action="+">+</button>
                  {{else}}
                    <span class="char-button-placeholder"></span>
                  {{/if}}
                </div>
              </td>
              <td>
                <input type="text" name="data.metrics.{{metric.key}}.buff" value="{{metric.buff}}" />
              </td>
              <td title="{{formatExplanation metric.max.components}}">
                {{metric.max.total}}
                <input type="hidden" name="data.metrics.{{metric.key}}.max" value="{{metric.max.total}}" data-dtype="Number" />
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
      <div>
        <label
            class="flex-row multi-item"
            title="Nur während der Charaktererstellungsmodus aktiv ist, ist es möglich, GP zu verteilen"
        >
          <span>
            <input type="checkbox" name="data.creationMode.enabled" {{checked data.creationMode.enabled}} />
          </span>
          <span>Charaktererstellungsmodus</span>
        </label>
      </div>
    </div>
  </section>
</form>


