<form class="{{cssClass}} multi-item charsheet-form" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header flex-row multi-item">
    <img class="profile-img" src="{{actor.img}}" data-editable title="{{actor.name}}" height="100" width="100" />
    <div class="header-fields flex-grow flex-self-start">
      <div class="flex-row multi-item flex-cross-start">
        <div class="multi-item flex-grow">
          <h1 class="char-name">
            <input name="name" class="full-width" type="text" value="{{actor.name}}" placeholder="Name" />
          </h1>
          <div class="flex-row multi-item flex-wrap">
            {{#each actor.attributes.list as |attr index|}}
              <div class="attribute">
                <strong class="attribute-label" title="{{attr.label}} - {{attr.desc}}">{{formatAttrKey attr.key}}</strong>
                <span title="{{formatExplanation attr.value.components}}">{{attr.value.total}}</span>
              </div>
            {{/each}}
            <div class="flex-grow"></div>
          </div>
          <div class="flex-row multi-item">
            {{#if actor.species}}
              <div class="species-info flex-row multi-item">
                <span>Spezies:</span>
                {{#if data.creationMode.enabled}}
                  <select name="data.species" data-dtype="String">
                    {{#select actor.species.key}}
                      {{#each actor.dataSet.species.list as |sp|}}
                        <option value="{{sp.key}}">{{sp.name}}</option>
                      {{/each}}
                    {{/select}}
                  </select>
                {{else}}
                  <span>{{computed.speciesName}}</span>
                {{/if}}
              </div>
            {{/if}}
            <div class="vertical-divider"></div>
            <div class="training-info flex-row multi-item">
              <span>Ausbildungen:</span>
              <div class="trainings flex-row multi-item">
                {{#each actor.trainings as |training|}}
                  <div data-item-id="{{training.id}}">
                    <a class="item-control item-edit" title="{{training.summary}}">
                      {{training.name}}
                    </a>
                    {{#if ../data.creationMode.enabled}}
                      <a class="item-delete" title="Löschen"><i class="fas fa-trash"></i></a>
                    {{/if}}
                    {{#unless @last}}
                      <span>, </span>
                    {{/unless}}
                  </div>
                {{/each}}
              </div>
            </div>
          </div>
        </div>
        <div class="multi-item">
          <div class="flex-row multi-item">
            <span title="Generierungspunkte">GP</span>
            <span class="flex-grow">{{actor.gp.value}}</span>
            {{#if data.creationMode.enabled}}
              {{#if actor.gp.value}}
                <button type="button" class="small gp-to-xp">GP → XP</button>
              {{/if}}
              {{#if actor.xp.gp}}
                <button type="button" class="small xp-to-gp">GP ← XP</button>
              {{/if}}
            {{/if}}
          </div>
          <label class="flex-row multi-item">
            <span title="Erfahrungspunkte">XP</span>
            <span>{{actor.xp.free}}</span>
            <span>/</span>
            <input
                name="input.totalXp"
                type="text"
                value="{{actor.xp.total}}"
                placeholder="Total XP"
                title="Ab Start: {{actor.xpFromGp}} | Hinzugewonnen: {{actor.xp.gained}}"
                class="flex-grow"
            />
          </label>
          <div class="flex-row multi-item flex-end">
            {{#each computed.regeneration as |reg|}}
              <select class="small" name="data.regeneration.{{reg.key}}.factor" title="Regenerationsfaktor">
                {{#select reg.factor}}
                  <option value="2">2</option>
                  <option value="1">1</option>
                  <option value="0.5">½</option>
                  <option value="0.25">¼</option>
                  <option value="0">0</option>
                {{/select}}
              </select>
              <a class="{{reg.className}} modify-metrics" title="{{reg.label}}: {{formatRegen reg.diff}}"
                 data-add="{{json reg.diff}}">
                <i class="fas {{reg.icon}}"></i>
              </a>
            {{/each}}
          </div>
        </div>
      </div>
      <div class="flex-row multi-item">
        {{#each actor.metrics.list as |metric|}}
          {{#if metric.max}}
            {{metricView metric=metric}}
          {{/if}}
        {{/each}}
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="attributes">Attribute</a>
    <a class="item" data-tab="skills">Fähigkeiten</a>
    <a class="item {{hiddenClass unless=computed.forceSkills}}" data-tab="force-skills">Mächte</a>
    <a class="item" data-tab="equipment">Ausrüstung</a>
    <a class="item" data-tab="items">Inventar</a>
    <a class="item" data-tab="other">Sonstiges</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      <table class="attributes-table full-width">
        <thead>
          <tr>
            <th class="attributes-table-key"></th>
            <th>Name</th>
            <th>GP</th>
            <th>Mod</th>
            <th title="Steigerungsklasse">StK</th>
            <th class="xp-col">XP</th>
            <th>Gain</th>
            <th>Buff</th>
            <th>Wert</th>
          </tr>
        </thead>
        <tbody>
          {{#each actor.attributes.list as |attr|}}
            <tr>
              <td>{{formatAttrKey attr.key}}</td>
              <td title="{{attr.desc}}">{{attr.label}}</td>
              <td>
                {{#if ../data.creationMode.enabled}}
                  <input type="text" name="data.attributes.{{attr.key}}.gp" value="{{attr.gp}}" />
                {{else}}
                  {{attr.gp}}
                {{/if}}
              </td>
              <td title="{{formatExplanation attr.mod.components}}">{{formatMod attr.mod.total}}</td>
              <td>
                <select name="data.attributes.{{attr.key}}.xpCategory" data-dtype="String">
                  {{#select attr.xpCategory}}
                    {{#each ../actor.dataSet.xpTable.categoryNames as |category|}}
                      <option value="{{category}}">{{category}}</option>
                    {{/each}}
                  {{/select}}
                </select>
              </td>
              <td>{{attr.xp}}</td>
              <td>
                <div class="flex-row multi-item">
                  {{#if ../data.creationMode.enabled}}
                    {{#if attr.gained.length}}
                      <button type="button" class="small char change-attr-gained" data-attr="{{attr.key}}" data-action="-">-</button>
                    {{else}}
                      <span class="char-button-placeholder"></span>
                    {{/if}}
                  {{/if}}
                  <span class="attribute-gained">{{attr.gained.length}}</span>
                  {{#if attr.upgradeCost}}
                    <button type="button" class="small char change-attr-gained" title="{{attr.upgradeCost}} XP" data-attr="{{attr.key}}" data-action="+">+</button>
                  {{else}}
                    <span class="char-button-placeholder"></span>
                  {{/if}}
                </div>
              </td>
              <td>
                <input type="text" name="data.attributes.{{attr.key}}.buff" value="{{attr.buff}}" />
              </td>
              <td title="{{formatExplanation attr.value.components}}">
                {{attr.value.total}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>

    {{!-- Skills Tab --}}
    <div class="tab skills multi-item" data-group="primary" data-tab="skills">
      {{#each computed.skillCategories as |category|}}
        <table>
          <thead>
            <tr>
              <th>{{category.label}}</th>
              <th class="attr-key-col" title="Primärattribut">A1</th>
              <th class="attr-key-col" title="Sekundärattribut">A2</th>
              <th class="xp-category-col" title="Steigerungsklasse">StK</th>
              <th class="xp-col">XP</th>
              <th class="gain-col">Gain</th>
              <th class="buff-col">Buff</th>
              <th class="value-col">Wert</th>
              {{#if ../data.creationMode.enabled}}
                <th class="icon-col"></th>
              {{/if}}
            </tr>
          </thead>
          <tbody>
            {{#each category.skills as |skill|}}
              <tr {{class when=skill.data.isBasicSkill then='basic-skill'}} data-item-id="{{skill.id}}">
                <td>
                  <div class="flex-row multi-item">
                    <img src="{{skill.img}}" alt="{{skill.name}}" width="24" height="24" />
                    <span class="skill-key-col">{{formatAttrKey skill.key}}</span>
                    <a class="flex-grow item-control item-edit" title="{{skill.name}} bearbeiten">{{skill.name}}</a>
                    <a class="roll-check" title="Probe werfen" data-check='{{json skill.check}}' data-label="{{skill.name}}">
                      <i class="fas fa-dice-d20"></i>
                    </a>
                  </div>
                </td>
                <td title="{{skill.attribute1.label}}">{{formatAttrKey skill.attribute1.key}}</td>
                <td title="{{skill.attribute2.label}}">{{formatAttrKey skill.attribute2.key}}</td>
                <td>
                  <select name="skills.{{skill.key}}.data.tmpXpCategory">
                    {{#select skill.currentXpCategory}}
                      {{#each actor.dataSet.xpTable.categoryNames as |category|}}
                        <option value="{{category}}">{{category}}</option>
                      {{/each}}
                    {{/select}}
                  </select>
                </td>
                <td>{{skill.xp}}</td>
                <td>
                  <div class="flex-row multi-item">
                    {{#if ../../data.creationMode.enabled}}
                      {{#if skill.gained.length}}
                        <button type="button" class="small char change-skill-gained" data-skill="{{skill.key}}" data-action="-">-</button>
                      {{else}}
                        <span class="char-button-placeholder"></span>
                      {{/if}}
                    {{/if}}
                    <span class="skill-gained">{{fallback skill.gained.length 0}}</span>
                    {{#if skill.upgradeCost}}
                      <button type="button" class="small char change-skill-gained" title="{{skill.upgradeCost}} XP" data-skill="{{skill.key}}" data-action="+">+</button>
                    {{else}}
                      <span class="char-button-placeholder"></span>
                    {{/if}}
                  </div>
                </td>
                <td>
                  <input type="text" name="skills.{{skill.key}}.data.buff" value="{{skill.buff}}" />
                </td>
                <td title="{{formatExplanation skill.value.components}}">{{skill.value.total}}</td>
                {{#if ../../data.creationMode.enabled}}
                  <td>
                    <a class="item-control item-delete" title="Löschen"><i class="fas fa-trash"></i></a>
                  </td>
                {{/if}}
              </tr>
            {{/each}}
          </tbody>
        </table>
      {{/each}}
    </div>

    {{!-- Force Tab --}}
    <div class="tab force-skills multi-item" data-group="primary" data-tab="force-skills">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Reichweite</th>
            <th>Wirkungsdauer</th>
            <th>Kosten</th>
            <th>Effekt</th>
            <th>Ausrichtung</th>
          </tr>
        </thead>
        <tbody>
          {{#each computed.forceSkills as |skill|}}
            <tr data-item-id="{{skill.id}}">
              <td>
                <div class="flex-row multi-item">
                  <img src="{{skill.img}}" alt="{{skill.name}}" width="24" height="24" />
                  <a class="flex-grow item-control item-edit">{{skill.name}}</a>
                </div>
              </td>
              <td>{{skill.range.formatted}}</td>
              <td>{{skill.duration.formatted}}</td>
              <td>
                <div class="multi-item">
                  {{#each skill.costs as |entry|}}
                    <div class="flex-row multi-item {{errorClass when=entry.evalError}}">
                      <span>{{entry.value}} {{entry.postfix}}</span>
                      <a class="modify-metrics" title="{{formatCosts ../../actor entry.diff}}" data-deduct="{{json entry.diff}}">
                        <i class="fas fa-minus-square"></i>
                      </a>
                    </div>
                    {{#each entry.variables as |var|}}
                      <div class="flex-row multi-item">
                        <span>{{var}}:</span>
                        <input
                            type="text"
                            name="skills.{{skill.key}}.data.cost.{{entry.key}}.vars.{{var}}"
                            value="{{resolve skill.cost entry.key 'vars' var}}"
                            class="flex-grow"
                            placeholder="{{var}}"
                        />
                      </div>
                    {{/each}}
                  {{/each}}
                </div>
              </td>
              <td>
                <div class="flex-row multi-item">
                  <span>
                    {{skill.effect.prefix}}
                    {{skill.effect.value}}
                    {{#if skill.effect.d6}}
                      + {{skill.effect.d6}}w6
                    {{/if}}
                  </span>
                  {{#if skill.effect.d6}}
                    <a class="do-roll" title="Würfeln" data-formula="{{skill.effect.value}} + {{skill.effect.d6}}d6" data-label="{{skill.name}}">
                      <i class="fas fa-dice-d20"></i>
                    </a>
                  {{/if}}
                </div>
              </td>
              <td>{{skill.disposition.label}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>

    {{!-- Equipment Tab --}}
    <div class="tab equipment" data-group="primary" data-tab="equipment">
      <div class="flex-row multi-item flex-cross-start">
        <div class="flex-grow flex-zero">
          <h3 class="align-center">Offensive</h3>
          <div class="multi-item">
            {{#each computed.weaponSlots as |slot|}}
              <div class="weapon-slot">
                <h4>{{slot.label}} - <strong>{{slot.skill.name}}</strong></h4>
                {{#if slot.skill}}
                  <div class="line-view multi-item">
                    <div class="flex-row multi-item">
                      <img src="icons/svg/d20.svg" class="table-icon" alt="Attacke" title="Attacke" />
                      {{formatCheckView check=slot.attackCheck label=(concat 'Attacke ' slot.label)}}
                    </div>
                    <div class="flex-row multi-item">
                      <img src="icons/svg/up.svg" class="table-icon" alt="Erleichterung (>0) / Erschwernis (<0)" title="Erleichterung (>0) / Erschwernis (<0)" />
                      <input type="text" name="data.weaponSlots.{{slot.key}}.advantage"
                             value="{{slot.advantage}}" data-dtype="Number"
                             title="Erleichterung (>0) / Erschwernis (<0)"
                      />
                      {{#if slot.isRanged}}
                        <img src="icons/svg/target.svg" class="table-icon" alt="Genauigkeit" title="Genauigkeit" />
                        <span title="Genauigkeit">{{slot.precision}}</span>
                      {{/if}}
                      {{#if slot.coordination}}
                        <i class="fas fa-hand-paper table-icon"></i>
                        <span title="Koordination">{{slot.coordination}}</span>
                      {{/if}}
                    </div>
                    {{#if slot.item}}
                      <div class="flex-row multi-item">
                        <img src="icons/svg/sword.svg" class="table-icon" alt="Schaden" title="Schaden" />
                        <span class="flex-row">
                          {{slot.item.data.damage.formula}}
                          {{#if (isRelevantFactor slot.projectileEnergy)}}
                            *&nbsp;<span title="Projektilenergie" class="flex-row">{{slot.projectileEnergy}} (<img src="icons/svg/target.svg" class="table-icon small" alt="Projektilenergie" />)</span>
                          {{/if}}
                          {{#if (isRelevantFactor slot.strengthModifier)}}
                            *&nbsp;<span title="Körperkraftmodifikator" class="flex-row">{{slot.strengthModifier}} (<i class="fas fa-fist-raised table-icon small"></i>)</span>
                          {{/if}}
                        </span>
                        <a
                            class="do-roll"
                            title="Schaden auswürfeln"
                            data-formula="{{slot.damage}}"
                            data-label="Schaden {{slot.label}} ({{slot.item.name}})"
                        >
                          <i class="fas fa-dice-d6"></i>
                        </a>
                      </div>
                    {{/if}}
                  </div>
                {{/if}}
              </div>
            {{/each}}
            <div>
              <label class="flex-row multi-item">
                <span>Entfernung Gegner</span>
                <span>
                  <input type="text" name="data.combat.enemyDistance" value="{{data.combat.enemyDistance}}" />
                  m
                </span>
              </label>
            </div>
          </div>
        </div>
        <div class="equipment-grid multi-item">
          {{#each computed.slots as |row|}}
            <div class="equipment-row multi-item">
              {{#each row as |slot|}}
                <div class="equipment-tile">
                  {{#if slot}}
                    <div class="equipment-slot" style="background-image: url({{slot.img}})">
                      {{#if slot.item}}
                        <img src="{{slot.item.img}}" alt="{{slot.item.name}}" class="equipment-item" />
                      {{/if}}
                      <div class="equipment-popup">
                        <h4>{{slot.label}}</h4>
                        {{#if slot.options}}
                          <ul>
                            {{#each slot.options as |item|}}
                              <li>
                                <a class="equip-btn {{embedClass name='link-active' when=item.active}}" data-slot="{{slot.key}}" data-item="{{item.id}}">{{item.name}}</a>
                              </li>
                            {{/each}}
                          </ul>
                        {{/if}}
                      </div>
                    </div>
                  {{/if}}
                </div>
              {{/each}}
            </div>
          {{/each}}
        </div>
        <div class="flex-grow flex-zero">
          <h3 class="align-center">Defensive</h3>
          <div class="multi-item align-right">
            {{#each computed.weaponSlots as |slot|}}
              {{#if slot.canDefend}}
                <div class="weapon-slot">
                  <h4>{{slot.label}} - <strong>{{slot.skill.name}}</strong></h4>
                  {{#if slot.skill}}
                    <div class="line-view multi-item">
                      <div class="flex-row multi-item flex-end">
                        <img src="icons/svg/shield.svg" class="table-icon" alt="Parade" title="Parade" />
                        {{formatCheckView check=slot.paradeCheck label=(concat 'Parade ' slot.label)}}
                      </div>
                      <div class="flex-row multi-item flex-end">
                        <img src="icons/svg/up.svg" class="table-icon" alt="Erleichterung (>0) / Erschwernis (<0)" title="Erleichterung (>0) / Erschwernis (<0)" />
                        <input type="text" name="data.weaponSlots.{{slot.key}}.paradeAdvantage"
                               value="{{slot.paradeAdvantage}}" data-dtype="Number"
                               title="Erleichterung (>0) / Erschwernis (<0)"
                        />
                        {{#if slot.coordination}}
                          <i class="fas fa-hand-paper table-icon"></i>
                          <span title="Koordination">{{slot.coordination}}</span>
                        {{/if}}
                      </div>
                    </div>
                  {{/if}}
                </div>
              {{/if}}
            {{/each}}
            {{#if actor.skills.aus}}
              <div class="weapon-slot">
                <h4><strong>Ausweichen</strong></h4>
                <div class="line-view multi-item">
                  <div class="flex-row multi-item flex-end">
                    <img src="icons/svg/daze.svg" class="table-icon" alt="Ausweichen" title="Ausweichen" />
                    {{formatCheckView check=actor.skills.aus.check label='Ausweichen'}}
                  </div>
                </div>
              </div>
            {{/if}}
            <div class="weapon-slot">
              <h4><strong>Eingehender Schaden</strong></h4>
              <div class="line-view multi-item">
                <div class="flex-row multi-item flex-end">
                  <input type="text" name="data.combat.damageIncoming.amount" value="{{data.combat.damageIncoming.amount}}" placeholder="Schaden" />
                  <select name="data.combat.damageIncoming.type" class="small">
                    {{#select data.combat.damageIncoming.type}}
                      {{#each actor.dataSet.damageTypes as |type|}}
                        <option value="{{type.key}}">
                          {{type.label}}
                        </option>
                      {{/each}}
                    {{/select}}
                  </select>
                  {{damageIcon type=computed.damageIncoming.type classes='table-icon'}}
                </div>
                {{#each computed.damageIncoming.resistances as |res|}}
                  <div class="flex-row multi-item flex-end">
                    <img src="{{res.icon}}" alt="{{res.label}}" title="{{res.label}}" class="table-icon" />
                    <span title="{{formatExplanation res.value.components}}">{{res.value.total}}</span>
                    <span>|</span>
                    <span>{{res.damageBefore}}</span>
                    <i class="fas fa-arrow-right"></i>
                    <span>{{res.damageAfter}}</span>
                  </div>
                {{/each}}
                {{#if computed.damageIncoming.cost}}
                  <div class="flex-row multi-item flex-end border-top">
                    <img src="icons/svg/degen.svg" alt="Effektivschaden" title="Effektivschaden" class="table-icon" />
                    {{#each computed.damageIncoming.cost as |cost key|}}
                      <span>-{{cost}} {{key}}</span>
                    {{/each}}
                    <a class="modify-metrics" data-deduct="{{json computed.damageIncoming.cost}}" title="Abziehen">
                      <i class="fas fa-minus-square"></i>
                    </a>
                  </div>
                {{/if}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{!-- Inventory Tab --}}
    <div class="tab items multi-item" data-group="primary" data-tab="items">
      <div class="flex-row multi-item">
        <div class="flex-grow"></div>
        <div class="flex-row multi-item {{errorClass when=actor.weight.isOverloaded}}" title="Traglast">
          <i class="fas fa-weight-hanging"></i>
          <span>{{actor.weight.value}}</span>
          <span>/</span>
          <span>{{actor.weight.max}}</span>
        </div>
      </div>
      {{#each computed.inventory as |category|}}
        <table>
          <thead>
            <tr>
              <th>
                <div class="flex-row multi-item">
                  <a class="toggle-inventory-view" data-category="{{category.key}}">
                    {{#if (resolve ../ui.inventoryHidden category.key)}}
                      <i class="fas fa-eye-slash"></i>
                    {{else}}
                      <i class="fas fa-eye"></i>
                    {{/if}}
                  </a>
                  <span>{{category.label}}</span>
                </div>
              </th>
              {{#if category.isWeapon}}
                <th class="damage-col" title="Schaden">Schaden</th>
              {{/if}}
              {{#if category.isWearable}}
                <th class="damage-col" title="Rüstung">Rüstung</th>
                <th class="encumberance-col" title="Behinderung">Behinderung</th>
              {{/if}}
              {{#if category.isEquippable}}
                <th class="damage-col" title="Zustand">Zustand</th>
              {{/if}}
              <th class="price-col" title="Preis"><i class="fas fa-coins"></i></th>
              <th class="weight-col" title="Gewicht"><i class="fas fa-weight-hanging"></i></th>
              <th class="icon-col">
                <a class="item-create" data-type="{{category.key}}" title="{{category.label}} hinzufügen">
                  <i class="fas fa-plus"></i>
                </a>
              </th>
            </tr>
          </thead>
          <tbody>
            {{#unless (resolve ../ui.inventoryHidden category.key)}}
              {{#each category.items as |item|}}
                <tr class="item" data-item-id="{{item.id}}">
                  <td>
                    <div class="flex-row multi-item">
                      <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
                      <a class="item-control item-edit" title="{{item.description}}">
                        {{#if (isMultiple item.quantity)}}
                          {{item.quantity}}x
                        {{/if}}
                        {{item.name}}
                      </a>
                    </div>
                  </td>
                  {{#if category.isWeapon}}
                    <td title="Schaden">{{item.damage.formula}}</td>
                  {{/if}}
                  {{#if category.isWearable}}
                    <td title="Rüstung">{{item.armor}}</td>
                    <td title="Behinderung">{{item.encumberance}}</td>
                  {{/if}}
                  {{#if category.isEquippable}}
                    <td class="damage-col" title="Zustand">{{formatPercentage item.condition}}</td>
                  {{/if}}
                  <td title="Preis">{{item.price}}</td>
                  <td title="Gewicht">{{item.weight}}</td>
                  <td>
                    <a class="item-control item-delete" title="{{item.name}} löschen"><i class="fas fa-trash"></i></a>
                  </td>
                </tr>
              {{/each}}
            {{/unless}}
          </tbody>
        </table>
      {{/each}}
    </div>

    {{!-- Other Tab --}}
    <div class="tab other multi-item" data-group="primary" data-tab="other">
      <table>
        <thead>
          <tr>
            <th></th>
            <th>Metrik</th>
            <th>Aktuell</th>
            <th>Mod</th>
            <th title="Steigerungsklasse">StK</th>
            <th>XP</th>
            <th>Gain</th>
            <th>Buff</th>
            <th>Max</th>
          </tr>
        </thead>
        <tbody>
          {{#each actor.metrics.list as |metric|}}
            <tr>
              <td>{{metric.key}}</td>
              <td title="{{metric.desc}}">{{metric.label}}</td>
              <td>
                {{metricView metric=metric linked=true}}
              </td>
              <td title="{{formatExplanation metric.mod.components}}">{{formatMod metric.mod.total}}</td>
              <td>
                {{#if metric.xpCategory}}
                  <select name="data.metrics.{{metric.key}}.xpCategory">
                    {{#select metric.xpCategory}}
                      {{#each ../actor.dataSet.xpTable.categoryNames as |category|}}
                        <option value="{{category}}">{{category}}</option>
                      {{/each}}
                    {{/select}}
                  </select>
                {{/if}}
              </td>
              <td>
                {{#if metric.xpCategory}}{{metric.xp}}{{/if}}
              </td>
              <td>
                {{#if metric.xpCategory}}
                  <div class="flex-row multi-item">
                    {{#if ../data.creationMode.enabled}}
                      {{#if metric.gained.length}}
                        <button type="button" class="small char change-metric-gained" data-metric="{{metric.key}}" data-action="-">-</button>
                      {{else}}
                        <span class="char-button-placeholder"></span>
                      {{/if}}
                    {{/if}}
                    <span class="metric-gained">{{metric.gained.length}}</span>
                    {{#if metric.upgradeCost}}
                      <button type="button" class="small char change-metric-gained" title="{{metric.upgradeCost}} XP" data-metric="{{metric.key}}" data-action="+">+</button>
                    {{else}}
                      <span class="char-button-placeholder"></span>
                    {{/if}}
                  </div>
                {{/if}}
              </td>
              <td>
                <input type="text" name="data.metrics.{{metric.key}}.buff" value="{{metric.buff}}" />
              </td>
              <td title="{{formatExplanation metric.maxComponents}}">
                {{metric.max}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
      <div>
        <label
            class="flex-row multi-item"
            title="Nur während der Charaktererstellungsmodus aktiv ist, ist es möglich, GP zu verteilen"
        >
          <span>
            <input type="checkbox" name="data.creationMode.enabled" {{checked data.creationMode.enabled}} />
          </span>
          <span>Charaktererstellungsmodus</span>
        </label>
      </div>
    </div>
  </section>
</form>


