<form class="{{cssClass}} multi-item charsheet-form" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header flex-row multi-item flex-cross-start">
    <div class="multi-item flex-no-grow">
      <img class="profile-img" src="{{actor.img}}" data-editable title="{{actor.name}}" height="100" width="100" />
      {{#if actor.encumberance}}
        <div title="Behinderung: {{formatExplanation actor.encumberanceExplanation.components}}">
          <i class="fas fa-long-arrow-alt-down"></i> {{actor.encumberance}}
        </div>
      {{/if}}
    </div>
    <div class="header-fields flex-grow flex-self-start">
      <div class="multi-item flex-grow">
        <h1 class="char-name">
          <input name="name" class="full-width" type="text" value="{{actor.name}}" placeholder="Name" />
        </h1>
        <div class="flex-row multi-item flex-wrap">
          {{#each actor.attributes.list as |attr index|}}
            <div class="attribute">
              <strong class="attribute-label" title="{{attr.label}} - {{attr.desc}}">{{formatAttrKey attr.key}}</strong>
              <span title="{{formatExplanation attr.value.components}}">{{attr.value.total}}</span>
            </div>
          {{/each}}
          <div class="flex-grow"></div>
          <div title="Basis-Initiative: {{formatExplanation actor.baseInitiativeExplanation.components}}" class="flex-row">
            <i class="fas fa-bell"></i>&nbsp;
            {{actor.baseInitiativeExplanation.total}}
          </div>
          <div class="flex-row">
            <i class="fas fa-shoe-prints" title="Laufweg"></i>&nbsp;
            <span title="Laufweg 1: {{formatExplanation actor.speed1Explanation.components}}">{{roundNumber actor.speed1Explanation.total 2}}</span>
            &nbsp;|&nbsp;
            <span title="Laufweg 2: {{formatExplanation actor.speed2Explanation.components}}">{{roundNumber actor.speed2Explanation.total 2}}</span>
          </div>
        </div>
      </div>
      <div class="flex-row multi-item">
        {{#each actor.metrics.list as |metric|}}
          {{#if metric.max}}
            {{metricView metric=metric}}
          {{/if}}
        {{/each}}
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  {{#tabGroup id='main' minWidth=600}}
    {{tabHeader id='overview' label='Übersicht'}}
    {{tabHeader id='skills' label='Fähigkeiten'}}
    {{tabHeader id='items' label='Inventar'}}
  {{/tabGroup}}

  {{!-- Sheet Body --}}
  {{#tabContents}}
    {{!-- Attributes Tab --}}
    {{#tabContent groupId='main' id='overview'}}
      <div class="multi-item">
        <div class="flex-row flex-wrap multi-item">
          {{#each actor.attributes.list as |attr|}}
            <label class="flex-row multi-item">
              <span>{{formatAttrKey attr.key}}</span>
              <input type="text" name="data.attributes.{{attr.key}}.fixed" value="{{attr.fixed}}" />
            </label>
          {{/each}}
        </div>
        <div class="flex-row multi-item flex-cross-start">
          {{#each computed.slots as |slot|}}
            <div class="equipment-tile">
              {{#if slot}}
                <div class="equipment-slot equipment-slot--bg">
                  {{#if slot.item}}
                    <img src="{{slot.item.img}}" alt="{{slot.item.name}}" class="equipment-item" />
                  {{/if}}
                  <div class="equipment-popup">
                    <h4>{{slot.label}}</h4>
                    {{#if slot.options}}
                      <ul>
                        {{#each slot.options as |item|}}
                          <li>
                            <a class="equip-btn {{embedClass name='link-active' when=item.active}}" data-slot="{{slot.key}}" data-item="{{item.id}}">{{item.name}}</a>
                          </li>
                        {{/each}}
                      </ul>
                    {{/if}}
                  </div>
                </div>
              {{/if}}
            </div>
          {{/each}}
          <div class="flex-grow"></div>
          <div class="flex-col multi-item flex-cross-end">
            <label class="flex-row multi-item" title="Basis-Rüstung">
              <i class="fas fa-shield-alt"></i>
              <input type="text" name="data.baseArmor" data-dtype="Number" value="{{formatMod data.baseArmor}}" />
            </label>
          </div>
          <div class="flex-col multi-item flex-cross-end">
            <label class="flex-row multi-item" title="Basis-Laufweg">
              <i class="fas fa-shoe-prints"></i>
              <input type="text" name="data.baseSpeed" data-dtype="Number" value="{{formatMod data.baseSpeed}}" />
            </label>
            <label class="flex-row multi-item" title="Basis-Initiative">
              <i class="fas fa-bell"></i>
              <input type="text" name="data.baseInitiative" data-dtype="Number" value="{{formatMod data.baseInitiative}}" />
            </label>
          </div>
          {{> "systems/sw-tor/templates/partials/target-distance.html"}}
        </div>
        <div class="beast-combat-grid">
          <div class="multi-item flex-grow">
            {{> "systems/sw-tor/templates/partials/offensive-equipment.html"}}
          </div>
          <div class="multi-item flex-grow">
            {{> "systems/sw-tor/templates/partials/defensive-equipment.html"}}
            <div class="flex-row flex-end multi-item">
              <span>Effektivitätsbonus</span>
              <input type="text" name="data.defenseEffectivenessBonus" value="{{actor.defenseEffectivenessBonus}}" data-dtype="Number" />
            </div>
          </div>
          <div class="multi-item flex-grow">
            {{> "systems/sw-tor/templates/partials/incoming-damage.html"}}
          </div>
        </div>
      </div>
    {{/tabContent}}

    {{!-- Skills Tab --}}
    {{#tabContent groupId='main' id='skills' classes='multi-item'}}
      <div class="padded">
        <table>
          <thead>
            <tr>
              <th>Skill</th>
              <th class="attr-key-col" title="Primärattribut">A1</th>
              <th class="attr-key-col" title="Sekundärattribut">A2</th>
              <th class="fixed-col">Fix</th>
              <th class="buff-col">Buff</th>
              <th class="value-col">Wert</th>
              <th class="icon-col"></th>
            </tr>
          </thead>
          <tbody>
            {{#each actor.skills.list as |skill|}}
              <tr {{class when=skill.isBasicSkill then='basic-skill'}} data-item-id="{{skill.id}}">
                <td>
                  <div class="flex-row multi-item">
                    <img src="{{skill.img}}" alt="{{skill.name}}" width="24" height="24" />
                    <span class="skill-key-col">{{formatAttrKey skill.key}}</span>
                    <a class="flex-grow item-control item-edit" title="{{skill.name}} bearbeiten">{{skill.name}}</a>
                    <a class="roll-check" title="Probe werfen" data-path="skills.{{skill.key}}.check" data-label="{{skill.name}}">
                      <i class="fas fa-dice-d20"></i>
                    </a>
                  </div>
                </td>
                <td title="{{skill.attribute1.label}}">{{formatAttrKey skill.attribute1.key}}</td>
                <td title="{{skill.attribute2.label}}">{{formatAttrKey skill.attribute2.key}}</td>
                <td>
                  <input type="text" name="skills.{{skill.key}}.data.fixed" value="{{skill.fixed}}" />
                </td>
                <td>
                  <input type="text" name="skills.{{skill.key}}.data.buff" value="{{skill.buff}}" />
                </td>
                <td title="{{formatExplanation skill.value.components}}">{{formatBuffedValue skill.value}}</td>
                <td>
                  <a class="item-control item-delete" title="Löschen"><i class="fas fa-trash"></i></a>
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      {{> "systems/sw-tor/templates/partials/missing-skills.html"}}
    {{/tabContent}}

    {{!-- Inventory Tab --}}
    {{#tabContent groupId='main' id='items'}}
      <div class="flex-row multi-item">
        <div class="flex-grow"></div>
        <div class="flex-row multi-item {{errorClass when=actor.weight.isOverloaded}}" title="Traglast">
          <i class="fas fa-weight-hanging"></i>
          <span>{{actor.weight.value}}</span>
          <span>/</span>
          <span>{{actor.weight.max}}</span>
        </div>
      </div>
      {{#each computed.inventory as |category|}}
        {{> "systems/sw-tor/templates/partials/inventory-category.html" category=category inventoryHidden=../ui.inventoryHidden}}
      {{/each}}
      <div>
        <hr />
        <div class="flex-row multi-item">
          <button type="button" class="auto-width clear-cache">Clear Cache</button>
          <button type="button" class="auto-width sync-items">Sync Items</button>
          <button type="button" class="auto-width update-token">Update Token</button>
        </div>
      </div>
    {{/tabContent}}
  {{/tabContents}}
</form>
