<div class="flex-row multi-item sw-tor flex-cross-stretch">
  {{#each rolls as |roll|}}
    <div class="multi-item check-roll dice-tooltip">
      <div title="{{roll.label}}"><strong>{{formatAttrKey roll.key}}</strong> {{roll.value}}</div>
      <div class="flex-row multi-item dice-rolls flex-center">
        <span class="roll d20">{{roll.die}}</span>
        <span>/</span>
        <span>{{roll.target}}</span>
      </div>
      <div class="align-center">
        {{formatCheckDiff roll.diff}}
      </div>
    </div>
  {{/each}}
  {{#if AgP}}
    <div class="multi-item check-AgP flex-col flex-space-between">
      <div title="Ausgleichspunkte"><strong>AgP</strong></div>
      <strong class="align-center">{{AgP.value}}</strong>
      <div class="align-center">{{formatCheckDiff AgP.diff}}</div>
    </div>
  {{/if}}
</div>