<div class="flex-row multi-item sw-tor flex-cross-stretch">
  {{#each rolls as |roll|}}
    <div class="{{#if (isOne ../rolls.length)}}flex-row flex-space-between {{/if}}multi-item check-roll dice-tooltip">
      <div title="{{roll.label}}"><strong>{{formatAttrKey roll.key}}</strong> {{roll.value}}</div>
      <div class="flex-row multi-item dice-rolls flex-center">
        {{formatD20Result roll.die}}
        <span>/</span>
        <span>{{roll.target}}{{#if roll.advantage}}{{formatCheckDiff roll.advantage 'small'}}{{/if}}</span>
      </div>
      <div class="align-center">
        {{formatCheckDiff roll.diff}}
      </div>
    </div>
  {{/each}}
  {{#if AgP}}
    <div class="multi-item check-AgP flex-col flex-space-between">
      <div title="Ausgleichspunkte"><strong>AgP</strong></div>
      <strong class="align-center">{{AgP.value}}{{#if AgP.bonus}}{{formatCheckDiff AgP.bonus 'small'}}{{/if}}</strong>
      <div class="align-center">{{formatCheckDiff AgP.diff}}</div>
    </div>
  {{/if}}
</div>
{{#if (isNumeric effectiveness)}}
  <div class="sw-tor-effectiveness sw-tor">
    Effektivität{{#if effectivenessBonus}} ({{formatCheckDiff effectivenessBonus}}){{/if}}: {{formatCheckDiff effectiveness}}
  </div>
{{/if}}
