{{#each check.rolls as |roll|}}
  <span title="{{roll.label}}" class="align-center">
    <strong>{{formatAttrKey roll.key}}</strong>
    {{roll.target}}{{#if roll.advantage}}{{formatCheckDiff roll.advantage 'small'}}{{/if}}
  </span>
{{/each}}
{{#if (isNumeric check.AgP.value)}}
  <span>|</span>
  <span title="Ausgleichspunkte" class="align-center">
  <strong>AgP</strong>
    {{check.AgP.value}}
  </span>
{{/if}}
{{#if action}}
  <a class="run-actor-action" title="Probe werfen"
    data-action="{{action}}"
    data-label="{{label}}"
    {{#if energyCost}}data-deduct='{"EnP":{{energyCost}} }'{{/if}}
  >
    <i class="fas fa-dice-d20"></i>
  </a>
{{/if}}
