<div class="combat-action-grid">
  {{#each attacks as |attack attackIndex|}}
    <div class="attack multi-item">
      <div class="flex-row">
        {{#if attack.check}}
          <div>{{attack.message.data.flavor}}</div>
        {{else}}
          <strong>Attacke-Probe fehlt!</strong>
        {{/if}}
        <div class="flex-grow"></div>
        <a class="delete-attack" data-index="{{attackIndex}}"><i class="fas fa-trash"></i></a>
      </div>
      {{#if attack.check}}
        <div class="flex-row multi-item dice-tooltip flex-space-between flex-cross-start">
          <div class="flex-row multi-item dice-rolls">
            {{#each attack.check.rolls as |roll|}}
              {{formatD20Result roll.die}}
            {{/each}}
          </div>
          <div>
            {{#if (isNumeric attack.check.effectiveness)}}
              {{formatCheckDiff attack.check.effectiveness}}
            {{else}}
              <i class="fas fa-hourglass fa-spin" title="Effektivität fehlt"></i>
            {{/if}}
          </div>
        </div>
      {{/if}}
    </div>
    <div class="combat-action-center">
      <img src="{{attack.weapon.img}}" alt="Attacke" class="combat-action-icon" title="{{attack.weapon.name}}" />
    </div>
    <div class="defenses multi-item">
      {{#each attack.defenses as |defense defenseIndex|}}
        <div class="defense multi-item">
          <div class="flex-row">
            {{#if defense.check}}
              <div>{{defense.message.data.flavor}}</div>
            {{else}}
              <strong>Attacke-Probe fehlt!</strong>
            {{/if}}
            <div class="flex-grow"></div>
            <a class="delete-defense" data-attack-index="{{attackIndex}}" data-defense-index="{{defenseIndex}}"><i class="fas fa-trash"></i></a>
          </div>
          {{#if defense.check}}
            <div class="flex-row multi-item dice-tooltip flex-space-between flex-reverse-row flex-cross-stretch">
              <div class="flex-col multi-item flex-space-between">
                <div class="flex-row multi-item dice-rolls">
                  {{#each defense.check.rolls as |roll|}}
                    {{formatD20Result roll.die}}
                  {{/each}}
                </div>
                <div class="align-right">
                  Treffer: {{defense.totalHits}}
                </div>
              </div>
              <div>
                {{#if (isNumeric defense.check.effectiveness)}}
                  {{#each defense.instances as |instance|}}
                    <div class="flex-row multi-item">
                      {{formatCheckDiff instance.totalEffectiveness}}
                      <i class="fas fa-arrow-right combat-action-glyph small"></i>
                      {{#if instance.hits}}
                        <span class="good">Treffer!</span>
                      {{else}}
                        <span class="bad">Abgewehrt!</span>
                      {{/if}}
                    </div>
                  {{/each}}
                {{else}}
                  <i class="fas fa-hourglass fa-spin" title="Effektivität fehlt"></i>
                {{/if}}
              </div>
            </div>
          {{/if}}
        </div>
      {{/each}}
    </div>
  {{/each}}
</div>
