<form class="{{cssClass}} multi-item" autocomplete="off">
  <header class="sheet-header flex-row multi-item">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields flex-grow">
      <div class="flex-row multi-item flex-cross-start">
        <h1 class="char-name flex-grow">
          <input name="name" class="full-width" type="text" value="{{item.name}}" placeholder="Name"/>
        </h1>
      </div>
    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{> systems/sw-tor/templates/includes/skill-sheet.html}}
  </section>
</form>
