<form class="{{cssClass}} multi-item" autocomplete="off">
  <header class="sheet-header flex-row multi-item">
    <img class="profile-img" src="{{skill.img}}" data-editable title="{{skill.name}}"/>
    <div class="header-fields flex-grow multi-item">
      <div class="flex-row multi-item flex-cross-start">
        <h1 class="char-name flex-grow">
          <input name="name" type="text" value="{{skill.name}}" placeholder="Name"/>
        </h1>
      </div>
      <div class="flex-row">
        <textarea placeholder="Beschreibung" name="data.description" class="flex-grow">{{data.description}}</textarea>
      </div>
    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <div class="tab-wrapper">
      <div class="tab-content">
        <table>
      <tbody>
        <tr>
          <td class="align-right">Kürzel</td>
          <td><input type="text" class="uppercase" name="data.key" value="{{data.key}}" minlength="3" maxlength="3"/>
          </td>
        </tr>
        <tr title="Legt fest, welchem Actor-Typ diese Fähigkeit zugeornet werden kann">
          <td class="align-right">
            Actor-Typ
          </td>
          <td>
            <select name="data.actorType">
              {{#select data.actorType}}
                {{#each skill.dataSet.actorTypes.list as |type|}}
                  <option value="{{type.key}}">{{type.label}}</option>
                {{/each}}
              {{/select}}
            </select>
          </td>
        </tr>
        {{#if skill.isRegularSkill}}
          <tr>
            <td class="align-right">Kategorie</td>
            <td>
              <select name="data.category" title="Kategorie">
                {{#select data.category}}
                  <option value="">[Auswählen]</option>
                  {{#each skill.actorDataSet.skillCategories.list as |category|}}
                    <option value="{{category.key}}">{{category.label}}</option>
                  {{/each}}
                {{/select}}
              </select>
            </td>
          </tr>
        {{/if}}
        <tr>
          <td class="align-right">Primärattribut</td>
          <td>
            <select name="data.attribute1" title="Primärattribut">
              {{#select data.attribute1}}
                {{#each skill.actorDataSet.attributes.list as |attr|}}
                  <option value="{{attr.key}}">{{attr.label}}</option>
                {{/each}}
              {{/select}}
            </select>
          </td>
        </tr>
        <tr>
          <td class="align-right">Sekundärattribut</td>
          <td>
            <select name="data.attribute2" title="Sekundärattribut">
              {{#select data.attribute2}}
                {{#each skill.actorDataSet.attributes.list as |attr|}}
                  <option value="{{attr.key}}">{{attr.label}}</option>
                {{/each}}
              {{/select}}
            </select>
          </td>
        </tr>
        <tr>
          <td class="align-right">Steigerungsklasse</td>
          <td>
            <select name="data.xpCategory">
              {{#select data.xpCategory}}
                {{#each skill.actorDataSet.xpTable.categoryNames as |category|}}
                  <option value="{{category}}">{{category}}</option>
                {{/each}}
              {{/select}}
            </select>
          </td>
        </tr>
        {{#if skill.isRegularSkill}}
          <tr>
            <td class="align-right">Grundfähigkeit</td>
            <td>
              <input type="checkbox" name="data.isBasicSkill" {{checked data.isBasicSkill}} />
            </td>
          </tr>
        {{/if}}
        {{#if skill.isForceSkill}}
          <tr title="Muss eine Probe geworfen werden, um den Machteffekt zu aktivieren?">
            <td class="align-right">Benötigt Probe?</td>
            <td>
              <label>
                <input type="checkbox" name="data.needsCheck" {{checked skill.needsCheck}} />
              </label>
            </td>
          </tr>
          <tr>
            <td class="align-right">Reichweite</td>
            <td>
              <div class="flex-row multi-item">
                {{#if skill.range.isNumeric}}
                  <input type="text" name="data.range.number" value="{{data.range.number}}" placeholder="[m]" />
                {{/if}}
                <select name="data.range.type">
                  {{#select data.range.type}}
                    {{#each skill.dataSet.rangeTypes.list as |type|}}
                      <option value="{{type.key}}">{{type.label}}</option>
                    {{/each}}
                  {{/select}}
                </select>
              </div>
            </td>
          </tr>
          <tr>
            <td class="align-right">Wirkungsdauer</td>
            <td>
              <div class="flex-row multi-item {{errorClass when=skill.duration.formulaError}}">
                {{#if skill.duration.hasFormula}}
                  <input type="text" name="data.duration.formula" value="{{data.duration.formula}}" placeholder="[n]" class="formula" />
                {{/if}}
                <select name="data.duration.type">
                  {{#select data.duration.type}}
                    {{#each skill.dataSet.durationTypes.list as |type|}}
                      <option value="{{type.key}}">{{type.label}}</option>
                    {{/each}}
                  {{/select}}
                </select>
                {{expressionVariables skill.duration.variables}}
              </div>
            </td>
          </tr>
          {{#if skill.duration.hasOneTimeCost}}
            <tr>
              <td class="align-right">Aktivierungskosten</td>
              <td>
                <div class="flex-row multi-item {{errorClass when=skill.cost.oneTime.formulaError}}">
                  <input type="text" name="data.cost.oneTime.formula" value="{{data.cost.oneTime.formula}}" class="formula" />
                  {{expressionVariables skill.cost.oneTime.variables}}
                </div>
              </td>
            </tr>
          {{/if}}
          {{#if skill.duration.hasPerTurnCost}}
            <tr>
              <td class="align-right">Kosten pro Runde</td>
              <td>
                <div class="flex-row multi-item {{errorClass when=skill.cost.perTurn.formulaError}}">
                  <input type="text" name="data.cost.perTurn.formula" value="{{data.cost.perTurn.formula}}" class="formula" />
                  {{expressionVariables skill.cost.perTurn.variables}}
                </div>
              </td>
            </tr>
          {{/if}}
          <tr>
            <td class="align-right">Effekt</td>
            <td>
              <div class="flex-row multi-item {{errorClass when=skill.effect.formulaError}}">
                <input type="text" name="data.effect.formula" value="{{data.effect.formula}}" class="formula" placeholder="Formula" />
                <span>
                  +<input type="text" name="data.effect.d6" value="{{data.effect.d6}}" placeholder="w6" title="w6" class="small" />w6
                </span>
                <select name="data.effect.modifier" title="Modifier">
                  {{#select data.effect.modifier}}
                    {{#each skill.dataSet.effectModifiers.list as |modifier|}}
                      <option value="{{modifier.key}}">{{modifier.label}}</option>
                    {{/each}}
                  {{/select}}
                </select>
                {{expressionVariables skill.effect.variables}}
              </div>
            </td>
          </tr>
          <tr>
            <td class="align-right">Aktiver Effekt auf Benutzer</td>
            <td>
              <select name="data.activeEffects.onUser">
                {{#select data.activeEffects.onUser}}
                  <option value="">[Keiner]</option>
                  {{#each activeEffects as |activeEffect|}}
                    <option value="{{activeEffect.id}}">{{activeEffect.name}}</option>
                  {{/each}}
                {{/select}}
              </select>
            </td>
          </tr>
          <tr>
            <td class="align-right">Ausrichtung</td>
            <td>
              <div class="flex-row multi-item">
                <select name="data.disposition">
                  {{#select data.disposition}}
                    {{#each skill.dataSet.dispositions.list as |disposition|}}
                      <option value="{{disposition.key}}">{{disposition.label}}</option>
                    {{/each}}
                  {{/select}}
                </select>
              </div>
            </td>
          </tr>
        {{/if}}
      </tbody>
    </table>
      </div>
    </div>
  </section>
</form>
