<form class="{{cssClass}} multi-item" autocomplete="off">
  <header class="sheet-header flex-row multi-item">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields flex-grow multi-item">
      <div class="flex-row multi-item flex-cross-start">
        <h1 class="char-name flex-grow">
          <input name="name" class="full-width" type="text" value="{{item.name}}" placeholder="Name"/>
        </h1>
      </div>
      <div class="flex-row">
        <textarea placeholder="Beschreibung" name="data.description" class="flex-grow">{{data.description}}</textarea>
      </div>
    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <table>
      <tbody>
        <tr>
          <td class="align-right">Kürzel</td>
          <td><input type="text" class="uppercase" name="data.key" value="{{data.key}}" minlength="3" maxlength="3"/>
          </td>
        </tr>
        {{#if computed.isRegularSkill}}
          <tr>
            <td class="align-right">Kategorie</td>
            <td>
              <select name="data.category" title="Kategorie">
                {{#select data.category}}
                  {{#each skillCategories as |category|}}
                    <option value="{{category.key}}">{{category.label}}</option>
                  {{/each}}
                {{/select}}
              </select>
            </td>
          </tr>
        {{/if}}
        <tr>
          <td class="align-right">Primärattribut</td>
          <td>
            <select name="data.attribute1" title="Primärattribut">
              {{#select data.attribute1}}
                {{#each attributes as |attr|}}
                  <option value="{{attr.key}}">{{attr.label}}</option>
                {{/each}}
              {{/select}}
            </select>
          </td>
        </tr>
        <tr>
          <td class="align-right">Sekundärattribut</td>
          <td>
            <select name="data.attribute2" title="Sekundärattribut">
              {{#select data.attribute2}}
                {{#each attributes as |attr|}}
                  <option value="{{attr.key}}">{{attr.label}}</option>
                {{/each}}
              {{/select}}
            </select>
          </td>
        </tr>
        <tr>
          <td class="align-right">Steigerungsklasse</td>
          <td>
            <select name="data.xpCategory">
              {{#select data.xpCategory}}
                {{#each xpCategories as |category|}}
                  <option value="{{category}}">{{category}}</option>
                {{/each}}
              {{/select}}
            </select>
          </td>
        </tr>
        {{# if computed.isRegularSkill}}
          <tr>
            <td class="align-right">Grundfähigkeit</td>
            <td>
              <input type="checkbox" name="data.isBasicSkill" {{checked data.isBasicSkill}} />
            </td>
          </tr>
        {{/if}}
        {{#if computed.isForceSkill}}
          <tr>
            <td class="align-right">Reichweite</td>
            <td>
              <div class="flex-row multi-item">
                {{#if computed.hasRangeField}}
                  <input type="text" name="data.range.number" value="{{data.range.number}}" placeholder="[m]" />
                {{/if}}
                <select name="data.range.type">
                  {{#select data.range.type}}
                    {{#each rangeTypes as |type|}}
                      <option value="{{type.key}}">{{type.label}}</option>
                    {{/each}}
                  {{/select}}
                </select>
              </div>
            </td>
          </tr>
          <tr>
            <td class="align-right">Wirkungsdauer</td>
            <td>
              <div class="flex-row multi-item {{errorClass when=computed.durationFormulaError}}">
                {{#if computed.hasDurationField}}
                  <input type="text" name="data.duration.formula" value="{{data.duration.formula}}" placeholder="[n]" class="formula" />
                {{/if}}
                <select name="data.duration.type">
                  {{#select data.duration.type}}
                    {{#each durationTypes as |type|}}
                      <option value="{{type.key}}">{{type.label}}</option>
                    {{/each}}
                  {{/select}}
                </select>
                {{#if computed.durationVariables}}
                  Variablen: [{{computed.durationVariables}}]
                {{/if}}
              </div>
            </td>
          </tr>
          <tr>
            <td class="align-right">Aktivierungskosten</td>
            <td>
              <div class="flex-row multi-item {{errorClass when=computed.oneTimeCostError}}">
                <input type="text" name="data.cost.oneTime" value="{{data.cost.oneTime}}" class="formula" />
                <div>
                  {{#if computed.oneTimeCostVariables}}
                    Variablen: [{{computed.oneTimeCostVariables}}]
                  {{/if}}
                </div>
              </div>
            </td>
          </tr>
          {{#if computed.hasPerTurnCost}}
            <tr>
              <td class="align-right">Kosten pro Runde</td>
              <td>
                <div class="flex-row multi-item {{errorClass when=computed.perTurnCostError}}">
                  <input type="text" name="data.cost.perTurn" value="{{data.cost.perTurn}}" class="formula" />
                  <div>
                    {{#if computed.perTurnCostVariables}}
                      Variablen: [{{computed.perTurnCostVariables}}]
                    {{/if}}
                  </div>
                </div>
              </td>
            </tr>
          {{/if}}
        {{/if}}
      </tbody>
    </table>
  </section>
</form>
