<form class="{{cssClass}} multi-item" autocomplete="off">
  <header class="sheet-header flex-row multi-item">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields flex-grow multi-item">
      <div class="flex-row multi-item flex-cross-start">
        <h1 class="char-name flex-grow">
          <input name="name" class="full-width" type="text" value="{{item.name}}" placeholder="Name"/>
        </h1>
      </div>
      <div class="flex-row">
        <textarea placeholder="Beschreibung" name="data.description" class="flex-grow">{{data.description}}</textarea>
      </div>
    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body training">
    <table>
      <thead>
        <tr>
          <th class="label-col">Allgemein</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td class="">GP</td>
        <td>
          <input type="text" name="data.gp" value="{{data.gp}}" />
        </td>
      </tr>
      <tr>
        <td class="">Fraktion</td>
        <td>
          <input type="text" class="text" name="data.fraction" value="{{data.fraction}}" />
        </td>
      </tr>
      <tr>
        <td class="">Ausrichtung</td>
        <td class="flex-row">
          {{#each dispositionList as |dispo|}}
            <div class="checkbox-element">
              <input type="checkbox" id="{{dispo.key}}" name="data.disposition" value="{{dispo.key}}" />
              <label for="{{dispo.key}}">{{dispo.label}}</label>
            </div>
          {{/each}}
        </td>
      </tr>
      <tr>
        <td class="">Zusätzliche Informationen</td>
        <td>
          <textarea placeholder="" name="data.additionalInformation" class="flex-grow">{{data.additionalInformation}}</textarea>
        </td>
      </tr>
      </tbody>
    </table>
    <table>
      <thead>
        <tr>
          <th>Modifikatoren</th>
          <th class="skill-key-col"></th>
          <th class="value-col">Wert</th>
          <th class="icon-col"></th>
        </tr>
      </thead>
      <tbody>
      {{#each modsList as |mod|}}
        <tr data-mod-key="{{mod.key}}">
          <td class="">{{mod.key}}</td>
          <td class="">{{mod.key}}</td>
          <td>
            <input type="text" name="data.mods.{{mod.key}}" value="{{mod.value}}" />
          </td>
          <td>
            <a class="mod-control mod-delete" title="Löschen"><i class="fas fa-trash"></i></a>
          </td>
        </tr>
      {{/each}}
      <tr>
        <td></td>
        <td class=""><input type="text" name="data.newMod.key" value="" /></td>
        <td class=""><input type="text" name="data.newMod.value" value="" /></td>
        <td><a class="item-control item-add" title="Hinzufuegen"><i class="fas fa-plus"></i></a></td>
      </tr>
      </tbody>
    </table>
  </section>
</form>
