<form class="{{cssClass}} multi-item" autocomplete="off">
  <header class="sheet-header flex-row multi-item">
    <img class="profile-img" src="{{item.img}}" data-editable title="{{item.name}}"/>
    <div class="header-fields flex-grow multi-item">
      <div class="flex-row multi-item flex-cross-start">
        <h1 class="char-name flex-grow">
          <input name="name" class="full-width" type="text" value="{{item.name}}" placeholder="Name"/>
        </h1>
      </div>
      <div class="flex-row">
        <textarea placeholder="Beschreibung" name="data.description" class="flex-grow">{{data.description}}</textarea>
      </div>
    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body training">
    <table>
      <thead>
        <tr>
          <th class="label-col">Allgemein</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="">GP</td>
          <td>
            <input type="text" name="data.gp" value="{{data.gp}}" />
          </td>
        </tr>
        <tr>
          <td class="">Fraktion</td>
          <td>
            <input type="text" class="text" name="data.fraction" value="{{data.fraction}}" />
          </td>
        </tr>
        <tr>
          <td class="">Ausrichtung</td>
          <td class="flex-row">
            {{#each dispositionList as |dispo|}}
              <div class="checkbox-element">
                <input type="checkbox" id="{{dispo.key}}" name="data.dispositions.{{dispo.key}}" {{#if dispo.value}}checked{{/if}} />
                <label for="{{dispo.key}}">{{dispo.label}}</label>
              </div>
            {{/each}}
          </td>
        </tr>
        <tr>
          <td class="">Zusätzliche Informationen</td>
          <td>
            <textarea placeholder="" name="data.additionalInformation" class="flex-grow">{{data.additionalInformation}}</textarea>
          </td>
        </tr>
        <tr>
          <td>Zugehoerige Grundausbildung</td>
          <td>
            {{#if data.baseTraining}}
              <span title="{{baseTrainingEffects}}">{{data.baseTraining.name}}</span>
              <a class="baseTraining-control baseTraining-delete" title="Löschen"><i class="fas fa-trash"></i></a>
            {{else}}
              <div class="drop-zone">
                <span>Drop base training here!</span>
              </div>
            {{/if}}
          </td>
        </tr>
      </tbody>
    </table>
    {{> "systems/sw-tor/templates/effects-editor.html" item=item newEffect=newEffect predefinedEffects=predefinedEffects}}
  </section>
</form>
