<form class="{{cssClass}} multi-item" autocomplete="off">
  <header class="sheet-header flex-row multi-item">
    <img class="profile-img" src="{{item.img}}" data-editable title="{{item.name}}"/>
    <div class="header-fields flex-grow multi-item">
      <div class="flex-row multi-item flex-cross-start">
        <h1 class="char-name flex-grow">
          <input name="name" class="full-width" type="text" value="{{item.name}}" placeholder="Name"/>
        </h1>
      </div>
      <div class="flex-row">
        <textarea placeholder="Beschreibung" name="data.description" class="flex-grow">{{data.description}}</textarea>
      </div>
    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body training">
    <div class="tab-wrapper">
      <div class="tab-content">
        <table>
      <thead>
        <tr>
          <th class="label-col">Allgemein</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>GP</td>
          <td>
            <input type="text" name="data.gp" value="{{data.gp}}" />
          </td>
        </tr>
        <tr>
          <td>Fraktion</td>
          <td>
            <div class="flex-row multi-item">
              {{#each factions.list as |faction|}}
                <label class="flex-row multi-item">
                  <span>
                    <input type="checkbox" name="data.factions.{{faction.key}}" {{checked (resolve ../training.factions faction.key)}} />
                  </span>
                  <span>{{faction.label}}</span>
                </label>
              {{/each}}
            </div>
          </td>
        </tr>
        <tr>
          <td>Ausrichtung</td>
          <td class="flex-row">
            <div class="flex-row multi-item">
              {{#each training.dataSet.characterDispositions.list as |dispo|}}
                <label class="flex-row multi-item">
                  <span>
                    <input type="checkbox" name="data.dispositions.{{dispo.key}}" {{checked (resolve ../training.dispositions dispo.key)}} />
                  </span>
                  <span>{{dispo.label}}</span>
                </label>
              {{/each}}
            </div>
          </td>
        </tr>
        <tr>
          <td>Zusätzliche Informationen</td>
          <td>
            <textarea name="data.additionalInformation" class="flex-grow">{{data.additionalInformation}}</textarea>
          </td>
        </tr>
        <tr>
          <td>Zugehörige Grundausbildung</td>
          <td>
            {{#if training.baseTraining}}
              <span title="{{training.baseTraining.summary}}">{{training.baseTraining.name}}</span>
              <a class="baseTraining-control baseTraining-delete" title="Löschen"><i class="fas fa-trash"></i></a>
            {{else}}
              <div class="drop-zone">
                <span>Drop base training here!</span>
              </div>
            {{/if}}
          </td>
        </tr>
      </tbody>
        </table>
        {{> "systems/sw-tor/templates/effects-editor.html" item=item newEffect=newEffect predefinedEffects=predefinedEffects}}
      </div>
    </div>
  </section>
</form>
