.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sw-tor .multi-item { margin: -4px; }
.sw-tor .multi-item > * { margin: 4px; }
.sw-tor .multi-item > .multi-item { margin: 0; }

.flex-grow { flex-grow: 1; }
.flex-wrap { flex-wrap: wrap; }
.flex-cross-start { align-items: flex-start; }
.flex-self-start { align-self: flex-start; }
.flex-center { justify-content: center; }

.full-width { width: 100% !important; }

.align-left { text-align: left !important; }
.align-right { text-align: right !important; }
.align-center { text-align: center !important; }

.uppercase { text-transform: uppercase; }

.hidden { display: none; }
