.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.sw-tor .multi-item { margin: -4px; }
.sw-tor .multi-item > * { margin: 4px; }
.sw-tor .multi-item > .multi-item { margin: 0; }

.flex-grow { flex-grow: 1; }
.flex-no-shrink { flex-shrink: 0; }
.flex-wrap { flex-wrap: wrap; }
.flex-cross-start { align-items: flex-start; }
.flex-cross-stretch { align-items: stretch; }
.flex-self-start { align-self: flex-start; }
.flex-zero { flex-basis: 0; }
.flex-center { justify-content: center; }
.flex-end { justify-content: flex-end; }
.flex-space-between { justify-content: space-between; }

.full-width { width: 100% !important; }

.align-left { text-align: left !important; }
.align-right { text-align: right !important; }
.align-center { text-align: center !important; }

.uppercase { text-transform: uppercase; }

.hidden { display: none; }

.border-top { border-top: 1px solid #aaa; }
