.sw-tor input:not([type=checkbox]):not(.text), .input-width {
  width: 56px;
}

.sw-tor input[type=number] {
  padding: 1px 3px;
}

.sw-tor .transparent {
  background-color: transparent;
  border-radius: 0;
  border: 0;
}

.sw-tor.sheet input.formula {
  width: 100px;
}

.sw-tor.sheet button.small {
  line-height: 20px;
}

.sw-tor button.char,
.sw-tor .char-button-placeholder {
  width: 22px;
}

.sw-tor .checkbox-element {
  display: flex;
  margin-right: 5px;
}

.sw-tor .checkbox-element label {
  height: 20px;
  line-height: 20px;
  margin: 3px 0;
}