.sw-tor.sheet input:not([type=checkbox]) {
  width: 56px;
}

.sw-tor.sheet input[type=number] {
  padding: 1px 3px;
}

.sw-tor.sheet button.small {
  line-height: 20px;
}

.sw-tor button.char,
.sw-tor .char-button-placeholder {
  width: 22px;
}
