.sw-tor input:not([type=checkbox]):not(.text), .input-width {
  width: 56px;
}

.sw-tor input[type=number] {
  padding: 1px 3px;
}

.sw-tor .transparent {
  background-color: transparent;
  border-radius: 0;
  border: 0;
}

.sw-tor.sheet input.small {
  width: 24px;
}

.sw-tor.sheet input.formula {
  width: 100px;
}

.sw-tor.sheet button.small {
  line-height: 20px;
}

.sw-tor button.char,
.sw-tor .char-button-placeholder {
  width: 22px;
}

.sw-tor button:focus:not(:hover), .sw-tor select:focus {
  box-shadow: 0 0 3px red;
  outline: none;
}

.sw-tor .multi-item input[type=checkbox] {
  margin-right: 0;
}

.sw-tor select {
  border-color: #aaa;
}

.sw-tor select.small {
  height: 24px;
}
