/*************************************************************************************
 * General classes
 *************************************************************************************/

@import "general.css";
@import "inputs.css";

.sw-tor table {
    background-color: transparent;
    border: 0;
}

.sw-tor table th {
    border-bottom: 1px solid black;
}

.sw-tor table th, .sw-tor table td {
    text-align: left;
    padding: 4px;
}

.sw-tor tr:nth-child(2n), .sw-tor .line-view > *:nth-child(2n) {
    background-color: rgba(0, 0, 0, 0.05);
}

.sw-tor .link-active {
    text-shadow: 0 0 8px red;
}

/*************************************************************************************
 * Charsheet
 *************************************************************************************/

.sw-tor.sheet .window-content {
    padding: 5px;
}

/* Sheet Header */
.sw-tor.sheet .profile-img {
    width: 100px;
    align-self: flex-start;
}

.sw-tor.sheet .header-fields {
    flex: 1;
}

.sw-tor.sheet .char-name {
    border-bottom: 0;
}

.sw-tor.sheet .char-name input {
    height: 34px;
}

.sw-tor.sheet .species-info {
    height: 35px;
}

.sw-tor.sheet .trainings {
    flex-wrap: wrap;
}

.sw-tor.sheet .vertical-divider {
    padding-left: 4px;
    margin: 0 0 0 4px;
    border-left: 1px solid gray;
    height: 15px;
}

/* Navigation Tabs */
.sw-tor.sheet .tabs {
    flex: 0 0 40px;
    border-top: 1px solid #AAA;
    border-bottom: 1px solid #AAA;
}

.sw-tor.sheet .tabs .item {
    line-height: 40px;
    font-weight: bold;
}

.sw-tor.sheet .tabs .item.active {
    text-decoration: underline;
    text-shadow: none;
}

.sw-tor.sheet .training .label-col {
    width: 120px;
}

/* Content Tabs */
.sw-tor.sheet .sheet-body .tab {
    height: 100%;
}
.sw-tor.sheet .sheet-body .editor {
    width: 100%;
    height: 100%;
}

.sw-tor.sheet .basic-skill {
    font-weight: bold;
}

.sw-tor .attr-key-col {
    width: 28px;
}

.sw-tor .skill-key-col, .sw-tor .weight-col {
    width: 34px;
}

.sw-tor .price-col {
    width: 38px;
}

.sw-tor .damage-col {
    width: 62px;
}

.sw-tor .value-col {
    width: 50px;
}

.sw-tor .gain-col, .sw-tor .encumberance-col {
    width: 88px;
}

.sw-tor .icon-col {
    width: 24px;
}

.sw-tor .xp-col {
    width: 48px;
}

.sw-tor .label-col {
    width: 35%;
}

.sw-tor .buff-col {
    width: 64px;
}

.sw-tor .xp-category-col {
    width: 54px;
}

/* Items */
.sw-tor.sheet .items-list {
    list-style: none;
    margin: 7px 0;
    padding: 0;
}
.sw-tor.sheet .items-list .item {
    height: 30px;
    line-height: 24px;
    padding: 3px 0;
    border-bottom: 1px solid #BBB;
}
.sw-tor.sheet .items-list .item img {
    flex: 0 0 24px;
    margin-right: 5px;
}
.sw-tor.sheet .items-list .item-name {
    margin: 0;
}
.sw-tor.sheet .items-list .item-controls {
    flex: 0 0 36px;
}

/* Trainings */
.drop-zone {
    display: flex;
    width: 100%;
    height: 100%;
    border: 2px dashed gray;
    border-radius: 7px;
}

.drop-zone:hover {
    filter: brightness(125%);
}

.drop-zone span {
    width: 100%;
    height: 100%;
    text-align: center;
    font-style: italic;
}

.baseTraining-control {
    float: right;
    padding-right: 4px;
}

/* Attributes */
.attributes-table-key {
    width: 22px;
}

.effect-table-key {
    min-width: 56px;
}

.attribute-gained {
    width: 20px;
    display: inline-block;
    text-align: center;
}

/* Equipment */
.sw-tor .equipment-row {
    display: flex;
    flex-direction: row;
}

.sw-tor .equipment-tile {
    width: 64px;
    height: 64px;
    position: relative;
}

.sw-tor .equipment-slot {
    background-size: 100%;
    height: 100%;
}

.sw-tor .equipment-item {
    border: 0;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    height: 100%;
}

.sw-tor .equipment-slot:hover .equipment-popup {
    opacity: 1;
    pointer-events: auto;
}

.sw-tor .equipment-popup {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    background-color: #f2f2f2;
    border: 1px solid #aaa;
    z-index: 100;
    text-align: center;
    box-shadow: 0 0 10px #aaa;
    transition: all 0.2s;
}

.sw-tor .equipment-popup h4 {
    border-bottom: 1px solid #aaa;
    padding: 8px;
    margin: 0;
}

.sw-tor .equipment-popup ul {
    padding: 4px  0;
    margin: 0;
}

.sw-tor .equipment-popup ul li {
    list-style: none;
    margin: 0;
    padding: 4px 8px;
}

.sw-tor .weapon-slot {
    margin-top: 16px;
}

.sw-tor .weapon-slot h4 {
    margin-bottom: 8px;
}

.sw-tor img.table-icon {
    width: 24px;
    filter: invert(0.8);
    border: 0;
    display: block;
}

.sw-tor img.table-icon.small {
    width: 16px;
}

.sw-tor i.table-icon {
    font-size: 24px;
    color: #333;
    border: 0;
    display: block;
}

.sw-tor i.table-icon.small {
    font-size: 16px;
}

/* Metrics */
.sw-tor .metric {
    flex-grow: 1;
    position: relative;
    border: 1px solid #aaa;
}

.sw-tor .metric-bar {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
}

.sw-tor .metric-value {
    position: relative;
    z-index: 2;
}

.sw-tor .has-error {
    background-color: #ff8b91;
}

/* Rolls */
.sw-tor .check-roll {
    flex: 1 0 0;
    text-align: center;
}

.sw-tor .check-diff.good, .sw-tor .d20.good {
    color: #006509;
}

.sw-tor .check-diff.bad, .sw-tor .d20.bad {
    color: #d6403e;
}

.sw-tor span.small {
    font-size: 10px;
}

.sw-tor .check-AgP {
    text-align: center;
    width: 40px;
    border-left: 1px solid #aaa;
}
